{% extends 'layouts/admin.html' %}
{% from 'utils/_format.html' import status_label %}
{% from 'utils/_pagination.html' import pagination %}
{% from 'utils/_messages.html' import flash_messages %}
 
{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container px-6 mx-auto grid ">
        <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            {{ title }}
        </h1>

        {{ flash_messages(messages) }}

        <div class="flex justify-between">
            <form class="flex flex-col mb-4 flex-wrap space-y-4 md:flex-row md:items-end md:space-x-4">
                <div class="block relative">
                    <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                            <path
                                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                            </path>
                        </svg>
                    </span>
                    <input placeholder="Titulo"
                        name="search"
                        value="{{ search }}"
                        class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                </div>
                
                <div class="block relative">
                    <select name="category"
                        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                        <option value=''>Seleccionar</option>
                        {% for value in categories %}
                            <option 
                                value={{ value.id }}
                                {% if value.id == category %} selected {% endif %}
                                >
                                {{ value.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit"
                        class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    Buscar
                    </button>
                </div>
            </form>
            <a href="{{url_for(('carrito'))}}"
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    volver al carrito
        </a>
            
        </div>
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left 
                                text-gray-500 uppercase border-b dark:border-gray-700 
                                bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                        >
                            <th class="px-4 py-3">ID</th>
                            <th class="px-4 py-3">name</th>
                            <th class="px-4 py-3">Categoria</th>
                            <th class="px-4 py-3">Estado</th>
                            <th class="px-4 py-3">precio</th>
                            <th class="px-4 py-3">stock</th>
                            <th class="px-4 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody
                        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                    >
                        {% for product in data.items %} 
                            <tr class="text-gray-700 dark:text-gray-400">
                                <form action="" >
                                    <td class="px-4 py-3 text-sm">{{ loop.index + (data.page - 1) * 5 }}</td>
                                    <td class="px-4 py-3 text-sm">{{ product.name }}</td>
                                    <td class="px-4 py-3 text-sm">{{ product.category.name }}</td>
                                   
                                    <td class="px-4 py-3 text-sm">{{ product.price }}</td>
                                    <td class="px-4 py-3 text-sm">{{ product.stock }}</td>
                                    <td class="px-4 py-3 text-xs">
                                        <input name="cantidad" type="text" type="number" value="">
                                    </td>
                                    <td >
                                        <button class="boton-personalizado" type="submit" name="product_id" value="{{product.id}}">
                                            add
                                        </button>
                                    </td>
                                </form>
                                
                                
                            </tr>
                        {% else %}
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td colspan="6" class="px-4 py-3 text-sm">
                                    No hay registros !
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if data.items %}
                {{ pagination(data, search) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
