{% extends 'layouts/admin.html' %}
{% from 'utils/_format.html' import status_label %}
{% from 'utils/_pagination.html' import pagination %}
{% from 'utils/_messages.html' import flash_messages %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container px-6 mx-auto grid">
        <h1 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200 flex items-center justify-center">
            {{ title }}
        </h1>
 
        {{ flash_messages(messages) }}

        <div class="flex items-center justify-between">
            <div class="flex flex-col mb-4 flex-wrap space-y-4 md:flex-row md:items-end md:space-x-4">
                <h1 class="text-lg leading-6 font-medium text-black dark:text-gray-200">Agregar productos al carrito</h1>
             </div>
            <div class="flex flex-col mb-4 flex-wrap space-y-4 md:flex-row md:items-end md:space-x-4 ">
                
                <a href="{{url_for(('carritoAdd'))}}"
                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                    Agregar
                </a>
            </div>
            
        </div>
        
        <div class="w-full overflow-hidden rounded-lg shadow-xs">
            <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr
                            class="text-xs font-semibold tracking-wide text-left 
                                text-gray-500 uppercase border-b dark:border-gray-700 
                                bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                        >
                            <th class="px-4 py-3">ID</th>
                            <th class="px-4 py-3">Producto</th>
                            <th class="px-4 py-3">Cantidad</th>
                            <th class="px-4 py-3">precio</th>
                            <th class="px-4 py-3">subtotal</th>
                            <th class="px-4 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody
                        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                    >
                        {% for carrito in data.items %}
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3 text-sm">{{ loop.index + (data.page - 1) * 5 }}</td>
                                <td class="px-4 py-3 text-sm">{{ carrito.products.name }}</td>
                                <td class="px-4 py-3 text-sm">{{ carrito.cantidad }}</td>
                                <td class="px-4 py-3 text-sm">{{ carrito.price }}</td>
                                <td class="px-4 py-3 text-sm">{{ carrito.subtotal }}</td>


                               <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm">
                                        <a href="{{ url_for('carrito_delete', id=carrito.id) }}"
                                            class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                                            aria-label="Delete"
                                        >
                                            <svg
                                                class="w-5 h-5"
                                                aria-hidden="true"
                                                fill="currentColor"
                                                viewBox="0 0 20 20"
                                            >
                                                <path
                                                fill-rule="evenodd"
                                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                clip-rule="evenodd"
                                                ></path>
                                            </svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td colspan="6" class="px-4 py-3 text-sm">
                                    No hay registros !
                                </td>
                            </tr>
                        {% endfor %}
                    {% if data.items %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3 text-sm"></td>
                        <td class="px-4 py-3 text-sm"></td>
                        <td class="px-4 py-3 text-sm"></td>
                        <td class="px-4 py-3 text-sm">Total</td>
                        <td class="px-4 py-3 text-sm">
                            {{ total }}
                        
                        </td>
                        <td class="px-4 py-3 text-sm"></td>
                    {% endif %}
                      

                    </tbody>
                </table>
            </div>
            {% if data.items %}
                {{ pagination(data, search) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
